* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ccc;
}

/* struttura header */
header {
    width: auto;
    margin: 10px 20%;
}

.title {
    height: 250px;
    padding: 10px;
    background-color: #0000FF;
}

.menu {
    height: 50px;
    background-color: #00FFFF;
}