* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ccc;
}

/* struttura header */
header {
    margin: 10px 20%;
    width: auto;
}

.title {
    height: 250px;
    padding: 10px;
    background-color: #0000FF;
}

.menu {
    height: 50px;
    background-color: #00FFFF;
}

/* struttura footer */
footer {
    margin: 10px 20%;
    width: auto;
}

.bottom {
    height: 100px;
    background-color: #FFFF00;
}

/* struttura main */
main {
    margin: 10px 20%;
    width: auto;
}

 main:after {
    content: "";
    display: table;
    clear: both;
}

.left {
    width: 25%;
    height: 500px;
    background-color: #00FF00;
    float: left;
}

.center {
    width: 50%;
    height: 250px;
    background-color: #FF0000;
    float: left;
}

.right {
    width: 25%;
    height: 200px;
    background-color: #408080;
    float: right;
}